.form_entrance__list {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}

.form_entrance__item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.form_entrance__item:not(:last-child) {
    margin-bottom: 20px;
}

.input-item__label,
.input-error {
    padding: 8px 8px 8px 0;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.input-item__label,
.form_entrance__space-taker{
    flex: 1 0 120px;
    max-width: 215px;
}

.input-item__label + *{
    flex: 1 0 220px;
}

.input-error {
    display: inline-block;
    color: cornsilk;
    margin: 0;
    font-size: 14px;
}

.input-error:before {
    content: "";
    width: 24px;
    height: 24px;
    background: url(../../error.png);
    display: inline-block;
    background-size: contain;
    margin-right: 10px;
    vertical-align: bottom;
    filter: contrast(150%);
}

.form_entrance__input {
    width: 100%;
    font-size: 14px;
    color: #8e8d8d;
    background: rgba(255, 255, 255, 0.95);
    padding: 15px;
    border: none;
    transition: all 0.15s ease-out;
}

.form_entrance__input:focus {
    outline: none;
    box-shadow: 0 0 10px chocolate;
    transform: scale(1.01);
}

.form_entrance__submit {
    margin-left: auto;
}

.controls__link{
    color: gainsboro;
    font-weight: 200;
    text-decoration: none;
}

.controls__link:hover{
    text-decoration: underline;
}

.form_start-game-options__label {
    margin-left: 10px;
    margin-right: 10px;
}

.form_start-game-options__checkbox {
    vertical-align: middle;
}

.form_start-game-options__checkbox,
.form_start-game-options__label {
    cursor: pointer;
}

.form_start-game-options__select-role {
    margin-bottom: 10px;
}
