<nav id="main-navigation">
    <ul>
        <li><a href="play" class="no-reload" title="Играть">Играть</a></li>
        <li class="active-item"><a href="leaders" class="no-reload" title="Лидерборд">Лидерборд</a></li>
        <li><a href="about" class="no-reload" title="Об игре">Об игре</a></li>
        <li><a href="login" class="no-reload" title="Выйти">Выйти</a></li>
    </ul>
</nav>
<div id="main-content-container">
    <div id="main-content">
        <table id="leaderboard">
            <col width="300">
            <col width="150">
            <col width="100">
            <thead>
            <tr>
                <th><a href="">Игрок</a></th>
                <th><a href="">Уровень</a></th>
                <th><a href="">Рейтинг</a></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="">Hefe</a></td>
                <td>25</td>
                <td>25035</td>
            </tr>
            <tr>
                <td><a href="">Deadmau5</a></td>
                <td>34</td>
                <td>22004</td>
            </tr>
            <tr>
                <td><a href="">ThickNick</a></td>
                <td>23</td>
                <td>18300</td>
            </tr>
            <tr>
                <td><a href="">Godlike</a></td>
                <td>53</td>
                <td>17600</td>
            </tr>
            <tr>
                <td><a href="">Gireball</a></td>
                <td>12</td>
                <td>16100</td>
            </tr>
            <tr>
                <td><a href="">Thesere</a></td>
                <td>24</td>
                <td>15200</td>
            </tr>
            <tr>
                <td><a href="">PLS FREE WIFI</a></td>
                <td>43</td>
                <td>12500</td>
            </tr>
            <tr>
                <td><a href="">Tarantino</a></td>
                <td>32</td>
                <td>11102</td>
            </tr>
            <tr>
                <td><a href="">CGI</a></td>
                <td>43</td>
                <td>10423</td>
            </tr>
            <tr>
                <td><a href="">BOOM</a></td>
                <td>21</td>
                <td>9100</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
