@import url("../components/button/button.css");
@import url("../components/form/form.css");

body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background-image: url("../siege2.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding: 50px 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

.container * {
    box-sizing: border-box;
}

#main-navigation {
    display: flex;
    justify-content: center
}

#main-navigation ul {
    display: flex;
    border-bottom: 1px solid #ccc;
    list-style: none;
    margin: 0 0 1.5rem 0;
    padding: 0;
}

#main-navigation ul li{
    transition: all 0.1s ease-out;
    margin-left: auto;
    border: none;
    background: rgba(51, 51, 51, 0.8);
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
}

#main-navigation ul li:hover,
#main-navigation ul .active-item{
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
}

#main-navigation ul a:hover,
#main-navigation ul .active-item a{
    color: black;
}

#main-navigation ul a {
    text-decoration: none;
    padding: 1rem 2rem;
    color: white;
    display: block;
    transition: all .25s ease-in-out;
}

#main-content-container{
    display: flex;
    justify-content: center
}

#main-content{
    padding: 0 25px;
    width: 620px;
    color: black;
    background-color: rgba(255, 255, 255, 1);
}

#game{
    background-image: url("../game_process.jpg");
    height: 450px;
    width: 800px;
    background-size: cover;
    border: 2px solid black;
    box-shadow: 0 10px 50px black;
}

#shadow-wraper{
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: -45px;
    height: 700px;
}

#main-content-container a{
    color: white;
}

#main-content-container h1{
    font-size: 64px;
}

#leaderboard a{
    text-decoration: none;
    color: #337ab7;
}

#leaderboard th{
    text-align: left;
    padding-left: 5px;
}

#leaderboard{
    margin: 15px 0;
}

#leaderboard tbody tr:nth-child(even){
    background-color: #f2f2f2;
}

#leaderboard thead tr{
    background-color: #0076a3;
}

#leaderboard thead tr a{
    color: #EEE8D6;
}

#registration-form .input-error{
    margin-top: 5px;
}

.page{
    display: none;
}

.current-page{
    display: block;
}

.page-not-found{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.user-bar{
    display: inline-block;
    position: absolute;
    top: 0;
    background: rgba(51, 51, 51, 0.4);
    padding: 5px 15px;
    color: chocolate;
    border-radius: 5px;
}
